## Retrieve startup count data

In [1]:
import json

import pandas as pd
import pycountry
import requests
from bs4 import BeautifulSoup


# Manually downloaded from https://www.startupranking.com/countries because of CloudFlare protection
with open('html_cache/https___www.startupranking.com_countries.html') as file:
    sr_bs = BeautifulSoup(file.read())


sr_countries_tag = sr_bs.find_all(type='text/javascript')[17]
sr_countries = json.loads(sr_countries_tag.text[25:-6])
sr_df = pd.DataFrame(sr_countries['data'])[['code', 'name', 'value']] \
    .rename(columns=dict(code='iso2', value='startup_count'))


sr_df.head()

  iso2            name  startup_count
0   US   United States          82257
1   IN           India          17508
2   GB  United Kingdom           7523
3   CA          Canada           4062
4   AU       Australia           3021

### Retrieve population data

In [2]:
import requests


pop_res = requests.get('https://countriesnow.space/api/v0.1/countries/population')
pop_json = pop_res.json()['data']
pop_df = pd.DataFrame([
    dict(
        iso2=pycountry.countries.get(alpha_3=row['iso3']).alpha_2,
        population=row['populationCounts'][-1]['value']
    )
    for row in pop_json
    if pycountry.countries.get(alpha_3=row['iso3'])
])

pop_df.head()

  iso2  population
0   AF    37172386
1   AL     2866376
2   DZ    42228429
3   AS       55465
4   AD       77006

### Show countries by the number of startups per capita (only countries with >=1 million population)

In [3]:
df_full = sr_df.set_index('iso2').join(pop_df.set_index('iso2'), how='inner').reset_index()
df_full['startups_per_capita'] = df_full['startup_count'] / df_full['population']

large_countries = df_full[df_full['population'] >= 1e6]
per_capita = large_countries.sort_values('startups_per_capita', ascending=False, ignore_index=True).head(60)
per_capita.index += 1
per_capita

   iso2                  name  startup_count  population  startups_per_capita
1    US         United States          82257   326687501             0.000252
2    EE               Estonia            306     1321977             0.000231
3    SG             Singapore           1265     5638676             0.000224
4    AE  United Arab Emirates           1342     9630959             0.000139
5    AU             Australia           3021    24982688             0.000121
6    GB        United Kingdom           7523    66460344             0.000113
7    IL                Israel            994     8882800             0.000112
8    CA                Canada           4062    37057765             0.000110
9    IE               Ireland            488     4867309             0.000100
10   CH           Switzerland            837     8513227             0.000098
11   FI               Finland            480     5515525             0.000087
12   CY                Cyprus            101     1189265             0.000085
13   DK               Denmark            441     5793636             0.000076
14   SE                Sweden            744    10175214             0.000073
15   LT             Lithuania            191     2801543             0.000068
16   NL           Netherlands           1170    17231624             0.000068
17   NZ           New Zealand            303     4841000             0.000063
18   NO                Norway            306     5311916             0.000058
19   HK   Hong Kong SAR China            428     7451000             0.000057
20   BE               Belgium            624    11433256             0.000055
21   LV                Latvia            105     1927174             0.000054
22   SI              Slovenia             89     2073894             0.000043
23   PT              Portugal            415    10283822             0.000040
24   AT               Austria            325     8840521             0.000037
25   AL               Albania             97     2866376             0.000034
26   ES                 Spain           1545    46796540             0.000033
27   HU               Hungary            318     9775564             0.000033
28   DE               Germany           2526    82905782             0.000030
29   MU             Mauritius             37     1265303             0.000029
30   BG              Bulgaria            194     7025037             0.000028
31   HR               Croatia            111     4087843             0.000027
32   FR                France           1725    66977107             0.000026
33   UY               Uruguay             84     3449299             0.000024
34   AZ            Azerbaijan            228     9939800             0.000023
35   PE                  Peru            708    31989256             0.000022
36   CL                 Chile            387    18729160             0.000021
37   LK             Sri Lanka            421    21670000             0.000019
38   DZ               Algeria            815    42228429             0.000019
39   BW              Botswana             39     2254126             0.000017
40   GR                Greece            185    10731726             0.000017
41   BH               Bahrain             27     1569439             0.000017
42   IT                 Italy            981    60421760             0.000016
43   RO               Romania            295    19466145             0.000015
44   QA                 Qatar             42     2781677             0.000015
45   SK              Slovakia             82     5446771             0.000015
46   CZ        Czech Republic            159    10629928             0.000015
47   RS                Serbia            102     6982604             0.000015
48   PL                Poland            554    37974750             0.000015
49   IN                 India          17508  1352617328             0.000013
50   KW                Kuwait             49     4137309             0.000012
51   MY              Malaysia            349    31528585             0.000011
52   CO              Colombia            535    49648685             0.000011
53   AR             Argentina            458    44494502             0.000010
54   ID             Indonesia           2665   267663435             0.000010
55   JO                Jordan             94     9956011             0.000009
56   PA                Panama             38     4176873             0.000009
57   ZA          South Africa            511    57779622             0.000009
58   UA               Ukraine            381    44622516             0.000009
59   AM               Armenia             25     2951776             0.000008
60   GE               Georgia             31     3726549             0.000008

### Show countries by the number of startups per capita (all countries)

In [4]:
per_capita_all = df_full.sort_values('startups_per_capita', ascending=False, ignore_index=True).head(60)
per_capita_all.index += 1
per_capita_all

,iso2,name,startup_count,population,startups_per_capita
1,AS,American Samoa,52,55465,0.000938
2,VG,British Virgin Islands,17,29802,0.000570
3,BM,Bermuda,20,63973,0.000313
4,KY,Cayman Islands,19,64174,0.000296
5,AD,Andorra,22,77006,0.000286
6,US,United States,82257,326687501,0.000252
7,GI,Gibraltar,8,33718,0.000237
8,EE,Estonia,306,1321977,0.000231
9,SG,Singapore,1265,5638676,0.000224
10,LI,Liechtenstein,7,37910,0.000185
11,AE,United Arab Emirates,1342,9630959,0.000139
12,LU,Luxembourg,77,607950,0.000127
13,AU,Australia,3021,24982688,0.000121
14,GB,United Kingdom,7523,66460344,0.000113
15,VI,U.S. Virgin Islands,12,106977,0.000112
16,IL,Israel,994,8882800,0.000112
17,CA,Canada,4062,37057765,0.000110
18,MT,Malta,51,484630,0.000105
19,MC,Monaco,4,38682,0.000103
20,IE,Ireland,488,4867309,0.000100
21,CH,Switzerland,837,8513227,0.000098
22,IM,Isle of Man,8,84077,0.000095
23,SC,Seychelles,9,96762,0.000093
24,FI,Finland,480,5515525,0.000087
25,CY,Cyprus,101,1189265,0.000085
26,IS,Iceland,28,352721,0.000079
27,DK,Denmark,441,5793636,0.000076
28,SE,Sweden,744,10175214,0.000073
29,MH,Marshall Islands,4,58413,0.000068
30,LT,Lithuania,191,2801543,0.000068
31,NL,Netherlands,1170,17231624,0.000068
32,NZ,New Zealand,303,4841000,0.000063
33,SM,San Marino,2,33785,0.000059
34,NO,Norway,306,5311916,0.000058
35,HK,Hong Kong SAR China,428,7451000,0.000057
36,KN,St. Kitts & Nevis,3,52441,0.000057
37,PW,Palau,1,17907,0.000056
38,BE,Belgium,624,11433256,0.000055
39,LV,Latvia,105,1927174,0.000054
40,SI,Slovenia,89,2073894,0.000043
41,PT,Portugal,415,10283822,0.000040
42,AT,Austria,325,8840521,0.000037
43,BZ,Belize,14,383071,0.000037
44,AL,Albania,97,2866376,0.000034
45,ES,Spain,1545,46796540,0.000033
46,HU,Hungary,318,9775564,0.000033
47,AG,Antigua & Barbuda,3,96286,0.000031
48,DE,Germany,2526,82905782,0.000030
49,MU,Mauritius,37,1265303,0.000029
50,BG,Bulgaria,194,7025037,0.000028
51,HR,Croatia,111,4087843,0.000027
52,TC,Turks & Caicos Islands,1,37665,0.000027
53,FR,France,1725,66977107,0.000026
54,UY,Uruguay,84,3449299,0.000024
55,AZ,Azerbaijan,228,9939800,0.000023
56,PE,Peru,708,31989256,0.000022
57,BN,Brunei,9,428962,0.000021
58,BB,Barbados,6,286641,0.000021
59,CL,Chile,387,18729160,0.000021
60,FO,Faroe Islands,1,48497,0.000021

### Show countries by the number of startups overall (all countries)

In [5]:
overall = df_full.sort_values('startup_count', ascending=False, ignore_index=True).head(60)
overall.index += 1
overall

   iso2                  name  startup_count  population  startups_per_capita
1    US         United States          82257   326687501         2.517911e-04
2    IN                 India          17508  1352617328         1.294379e-05
3    GB        United Kingdom           7523    66460344         1.131953e-04
4    CA                Canada           4062    37057765         1.096127e-04
5    AU             Australia           3021    24982688         1.209237e-04
6    ID             Indonesia           2665   267663435         9.956534e-06
7    DE               Germany           2526    82905782         3.046832e-05
8    FR                France           1725    66977107         2.575507e-05
9    ES                 Spain           1545    46796540         3.301526e-05
10   AE  United Arab Emirates           1342     9630959         1.393423e-04
11   SG             Singapore           1265     5638676         2.243434e-04
12   BR                Brazil           1226   209469333         5.852885e-06
13   NL           Netherlands           1170    17231624         6.789842e-05
14   IL                Israel            994     8882800         1.119017e-04
15   IT                 Italy            981    60421760         1.623587e-05
16   CH           Switzerland            837     8513227         9.831759e-05
17   DZ               Algeria            815    42228429         1.929979e-05
18   NG               Nigeria            812   195874740         4.145506e-06
19   SE                Sweden            744    10175214         7.311886e-05
20   CN                 China            716  1392730000         5.140982e-07
21   PE                  Peru            708    31989256         2.213243e-05
22   PK              Pakistan            706   212215030         3.326814e-06
23   RU                Russia            659   144478050         4.561247e-06
24   EG                 Egypt            640    98423595         6.502506e-06
25   BE               Belgium            624    11433256         5.457763e-05
26   JP                 Japan            612   126529100         4.836832e-06
27   TR                Turkey            595    82319724         7.227915e-06
28   MX                Mexico            565   126190788         4.477347e-06
29   PL                Poland            554    37974750         1.458864e-05
30   CO              Colombia            535    49648685         1.077571e-05
31   ZA          South Africa            511    57779622         8.843948e-06
32   IE               Ireland            488     4867309         1.002607e-04
33   FI               Finland            480     5515525         8.702707e-05
34   AR             Argentina            458    44494502         1.029341e-05
35   DK               Denmark            441     5793636         7.611800e-05
36   HK   Hong Kong SAR China            428     7451000         5.744195e-05
37   LK             Sri Lanka            421    21670000         1.942778e-05
38   PT              Portugal            415    10283822         4.035465e-05
39   CL                 Chile            387    18729160         2.066297e-05
40   UA               Ukraine            381    44622516         8.538290e-06
41   KR           South Korea            366    51606633         7.092112e-06
42   MY              Malaysia            349    31528585         1.106932e-05
43   KE                 Kenya            346    51393010         6.732433e-06
44   BD            Bangladesh            335   161356039         2.076154e-06
45   AT               Austria            325     8840521         3.676254e-05
46   PH           Philippines            319   106651922         2.991038e-06
47   HU               Hungary            318     9775564         3.253009e-05
48   NO                Norway            306     5311916         5.760633e-05
49   EE               Estonia            306     1321977         2.314715e-04
50   NZ           New Zealand            303     4841000         6.259037e-05
51   RO               Romania            295    19466145         1.515452e-05
52   IR                  Iran            271    81800269         3.312948e-06
53   AZ            Azerbaijan            228     9939800         2.293809e-05
54   VN               Vietnam            222    95540395         2.323624e-06
55   TH              Thailand            197    69428524         2.837450e-06
56   BG              Bulgaria            194     7025037         2.761551e-05
57   LT             Lithuania            191     2801543         6.817672e-05
58   GR                Greece            185    10731726         1.723861e-05
59   NP                 Nepal            183    28087871         6.515268e-06
60   SA          Saudi Arabia            171    33699947         5.074192e-06